.sign-in {
    padding: 3rem;
    width: 45rem;
    display: flex;
    flex-direction: column;
    // font-size: 1.6rem;
  
    .title {
      margin: 1rem 0;
    }
  
    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }