.card {
    border: 2px solid black;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    width: 70%;
    margin: 1rem;
    font-weight: bold;
    font-size: 1.8rem;
  }
  .paragraph {
    margin-bottom: 1.5rem;
  }
  