.contacts-page-wrapper {
  margin-bottom: 6rem;

  @media screen and (max-width: 800px) {
    margin-bottom: 1rem;
  }

  .contact-details-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 16rem;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 8rem;
    }

    .map-container {
      height: 50vh;
      width: 40vw;
      @media screen and (max-width: 800px) {
        width: 90%;
        margin-bottom: 10rem;
      }
    }

    .link-cta {
      border: 0;
      border-radius: 0;
      padding-bottom: 3px;
      border-bottom: 2px solid #111;

      background: 0 none;
      font-family: 'Interstate Condensed';
      text-transform: uppercase;
      text-decoration: none;
      display: inline;
      font-weight: 700;
      letter-spacing: 0.8px;
      font-style: normal;
    }

    *,
    :after,
    :before {
      color: #111;
      box-sizing: inherit;
    }
  }
}

.contact-form-wrapper {
  width: 40%;
  margin: 0 auto;
  @media screen and (max-width: 800px) {
    width: 80%;
  }
}
