.services-container {
  display: flex;
  cursor: pointer;

  @media screen and (max-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 3rem;
  }
}

.services-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.8rem;
    width: 70%;
    margin: 3rem;
    @media screen and (max-width: 800px) {
      font-size: 1.6rem;
      width: 90%;
      margin: 1rem;
    }
  }
}
