.services-wrapper {
  // padding: 25rem 0 15rem 0;
  // margin-top: -10rem;
  // display: flex;
  // flex-direction: column;
}

.services-container {
  display: flex;
  cursor: pointer;
  // flex-wrap: wrap;
  // position: relative;
  // width: 25%;
  // height: 30%;
}

.services-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.8rem;
  }
}
