.container {
    text-align: center;
}

.info-container {
    margin: 0 auto;
    width: 80%;
    height: 40%;
}

@media screen and (max-width: 800px) {
    .info-container {
        width: 100%;
    }
  }