.header {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
  //   font-size: 1.6rem;

  .logo-container {
    height: 5rem;
    width: 5rem;
    //   padding: .5rem;
    margin-left: 3rem;
  }

  .logo {
    height: 100%;
    width: 100%;
  }

  .options {
    display: flex;
    align-items: center;
    list-style: none;

    .option {
      color: #fff;
      text-transform: uppercase;
      padding: 0.75rem;
      margin: 0 0.25rem;
      border-bottom: 3px solid transparent;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;
      cursor: pointer;

      &:hover {
        border-color: white;
      }

      &.current {
        border-color: grey;
      }
    }
  }
}
