svg {
  g {
    fill: white;
  }
}
.header {
  display: flex;
  position: sticky;
  top: 0;
  background: #345;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;

  .logo-container {
    height: 5rem;
    width: 5rem;
    margin-left: 3rem;

    &:hover {
      svg {
        g {
          fill: #6abd6c;
        }
      }
    }

    .logo {
      height: 100%;
      width: 100%;
      fill: white;
    }
  }

  .options {
    display: flex;
    align-items: center;
    list-style: none;

    color: #fff;
    font-weight: bold;

    .option {
      color: inherit;
      text-transform: uppercase;
      padding: 0.75rem;
      margin: 0 0.5rem;
      border-bottom: 3px solid transparent;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;
      cursor: pointer;

      &:hover {
        border-color: white;
      }

      &.current {
        border-color: grey;
      }
    }

    .second-option {
      margin: 0 0.5rem;
      &:hover {
        i {
          color: #6abd6c;
        }
      }
    }

    .fa-heart,
    .fa-user {
      color: #fff;
    }
  }
}
