.services__appointment-container {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .3)), url('https://firebasestorage.googleapis.com/v0/b/beauty-salon-8a9d4.appspot.com/o/images%2Frsz_c5fbf3.jpg?alt=media&token=6715974f-4a0f-48ce-b108-fe26d02ddb1e');
    background-position: right;
    background-size: cover;
    padding: 2rem;
    margin: 2rem auto;
    color: #fff;
  }
  
  .services__appointment--text {
    width: 40%;
    margin: 6rem;
  }