.product-upload {
  padding: 3rem;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .product-column {
    display: flex;
    // flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .product-upload-form {
    margin: 3rem 0;
  }

  .title {
    margin: 1rem auto;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

.group {
  margin: 0 4rem;
  width: 45%;
}

input[type=file] {
}
    ::-webkit-file-upload-button {
      // display: none;
      opacity: 0;
      margin: 1.1rem auto;
    }
.custom-button {
  margin: 2rem auto;
}
