.products-overview {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .title {
    align-self: center;
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    cursor: pointer;
    color: #061f38;

    &:hover {
      border-color: #345;
    }
  }

  .overview {
    display: flex;
    justify-content: space-between;
  }
}
