.products-overview {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .title {
    align-self: center;
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
  }

  .overview {
    display: flex;
    justify-content: space-between;
  }
}
