.no-orders,
.no-orders-h3 {
    margin: 3.5rem auto;
}

.no-orders-h3 {
    margin-left: 5rem;
}

.title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 8rem;
}

.wrapper-no-orders {
    text-align: center;
}