@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {  
  scroll-behavior: smooth;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}